.interface-box {
  width: 500px;
  height: 600px;

  border-radius: 15px;
  border: 5px solid black;

  display: flex;
  flex-wrap: wrap;

  position: relative;

  &::before {
    position: absolute;
    z-index: -1;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    content: ' ';

    filter: opacity(75%);

    border-radius: 10px;

    background: $interface-background-gradient;
  }
}

.interface-box__header {
  width: 100%;
  height: 44%;

  border-radius: 10px 10px 0 0;

  position: relative;

  h1 {
    margin-top: 2%;

    font-size: 25px;
    font-weight: 600;

    text-align: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;

  width: 90%;
  height: 90%;

  margin-left: 5%;
  padding-left: 5%;
  margin-top: 2%;

  position: relative;

  &::before {
    position: absolute;
    z-index: -1;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    content: ' ';

    filter: opacity(25%);

    border-radius: 10px;

    background-color: black;
  }
}

.form__date-input-block,
.form__checkbox,
.form__name-input-block {
  width: 95%;

  p {
    margin: 0;
    margin-bottom: 2%;

    font-size: 16px;
    font-weight: 400;

    color: white;
  }
}

.form__date-input,
.form__datetime-input,
.form__submit-btn,
.form__name-input {
  width: 100%;
  height: 25px;

  border: none;

  border-radius: 10px;

  padding-left: 5%;
  padding-right: 2%;

  font-family: inherit;

  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.25);

  &:focus {
    outline: none;
  }
}

.form__checkbox {
  display: flex;
  align-items: center;

  margin-top: 2%;

  p {
    margin-bottom: 0;
    margin-left: 2%;
  }
}

.form__datetime-input {
  width: 95%;

  padding-left: 5%;
  padding-right: 2%;

  margin-top: 2%;
}

.form__submit-btn {
  width: 95%;
  padding: 0;

  background-color: white;

  margin-top: 2%;

  transition: 200ms;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.329);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);

    color: white;
  }
}

.form__datetime-input_hidden {
  display: none;
}

.interface-box__body {
  width: 90%;
  height: 45%;

  margin-left: 5%;
  margin-top: 5%;

  border-radius: 10px;

  position: relative;

  &::before {
    position: absolute;
    z-index: -1;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    content: ' ';

    filter: opacity(25%);

    border-radius: 10px;

    background-color: black;
  }
}

.form__name-input-block {
  margin-bottom: 2%;
}

.interface-box__body-header {
  width: 90%;
  height: 10%;
  background-color: white;

  margin-left: 5%;
  margin-top: 5%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;

  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.25);

  p {
    font-weight: 600;
    font-size: 18px;
  }
}

.timers-list {
  display: flex;
  flex-wrap: wrap;

  width: 90%;
  height: 70%;

  margin-left: 5%;
  margin-top: 2%;
  padding-top: 2%;

  border-radius: 5px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.timer-card {
  width: 100%;

  padding: 2%;
  margin-bottom: 2%;

  display: flex;
  justify-content: space-between;

  height: 100px;

  position: relative;

  z-index: 1;

  &::before {
    position: absolute;
    z-index: -1;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    content: ' ';

    filter: opacity(25%);

    border-radius: 5px;

    background-color: rgb(0, 0, 0);

    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.25);
  }
}

.timer-card__info {
  display: flex;

  align-items: center;
  flex-wrap: wrap;

  width: 85%;
  height: 100%;
  color: white;
}

.timer-card__name {
  width: 100%;
  color: white;
}

.time {
  width: 100%;

  font-weight: 600;
  font-size: 18px;
}

.timer-card__button {
  width: 20px;
  height: 20px;

  background: none;
  background: url('/styles/img/close.png');
  background-size: cover;

  border: none;

  transition: 200ms;

  &:hover {
    background: url('/styles/img/close-colored.png');
    background-size: cover;
    cursor: pointer;
  }
}
